In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
import joblib

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data = df.drop(columns = ['Surname','CustomerId','RowNumber'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
data.select_dtypes(object)

     Geography  Gender
0       France  Female
1        Spain  Female
2       France  Female
3       France  Female
4        Spain  Female
...        ...     ...
9995    France    Male
9996    France    Male
9997    France  Female
9998   Germany    Male
9999    France  Female

[10000 rows x 2 columns]

In [8]:
le = LabelEncoder()

In [9]:
data['Encode_Gender'] = le.fit_transform(data['Gender'])

In [10]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Encode_Gender
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0

In [11]:
ohe = OneHotEncoder()

In [12]:
b = ohe.fit_transform(df[['Geography']]).toarray()

In [13]:
enc_data = pd.DataFrame(b,columns = ohe.get_feature_names_out())

In [14]:
enc_data

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [15]:
churn = pd.concat([data,enc_data],axis = 1)

In [16]:
churn

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Encode_Gender,Geography_France,Geography_Germany,Geography_Spain
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,1.0,0.0,0.0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,0.0,0.0,1.0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,1.0,0.0,0.0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,1.0,0.0,0.0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1,1.0,0.0,0.0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1,1.0,0.0,0.0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0,1.0,0.0,0.0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,0.0,1.0,0.0
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,1.0,0.0,0.0

In [17]:
churn.drop(columns = ['Geography','Gender'],inplace = True)

In [18]:
churn

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Encode_Gender,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,1.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0.0,0.0,1.0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,1.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,0,1.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,1.0,0.0,0.0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,1.0,0.0,0.0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,1.0,0.0,0.0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0.0,1.0,0.0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,1.0,0.0,0.0

In [19]:
churn.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Encode_Gender',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [20]:
x = churn[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary','Encode_Gender',
       'Geography_France', 'Geography_Germany', 'Geography_Spain']]
y = churn['Exited']

In [21]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Encode_Gender,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,0,1.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,42,8,159660.80,3,1,0,113931.57,0,1.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,1.0,0.0,0.0
9996,516,35,10,57369.61,1,1,1,101699.77,1,1.0,0.0,0.0
9997,709,36,7,0.00,1,0,1,42085.58,0,1.0,0.0,0.0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [22]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [23]:
ss = StandardScaler()

In [24]:
x_scaled = ss.fit_transform(x)
x_scaled

array([[-0.32622142,  0.29351742, -1.04175968, ...,  0.99720391,
        -0.57873591, -0.57380915],
       [-0.44003595,  0.19816383, -1.38753759, ..., -1.00280393,
        -0.57873591,  1.74273971],
       [-1.53679418,  0.29351742,  1.03290776, ...,  0.99720391,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ...,  0.99720391,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.29351742, -0.69598177, ..., -1.00280393,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.04143285, -0.35020386, ...,  0.99720391,
        -0.57873591, -0.57380915]])

In [25]:
x_scled_train,x_scaled_test,y_train,y_test = train_test_split(x_scaled,y,test_size=.2,random_state=32)

In [26]:
logistic = LogisticRegression()

In [27]:
logistic.fit(x_scled_train,y_train)

LogisticRegression()

In [28]:
y_pred = logistic.predict(x_scaled_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [29]:
y_test

5097    0
2580    1
260     0
6781    0
5468    0
       ..
6340    0
9648    0
6177    1
3570    1
1191    0
Name: Exited, Length: 2000, dtype: int64

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
ac = accuracy_score

In [32]:
ac(y_test,y_pred)

0.7995

In [33]:
joblib.dump(le,"labelencoder.pkl")

['labelencoder.pkl']

In [34]:
joblib.dump(ss,'Standardscaler.pkl')

['Standardscaler.pkl']

In [35]:
joblib.dump(ohe,'onehote.pkl')

['onehote.pkl']

In [36]:
joblib.dump(logistic,'logisticregression.pkl')

['logisticregression.pkl']